html {
  overflow:hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
#mapContainer {
  width: 80%;
  height: 90%;
  left: 0;
  top: 0;
  
}
  
.ctrl-panel {
  background-color: #e4e6e9;
  border-right: solid #e4e6e9 1px;
  border-bottom: solid #e4e6e9 1px;
  max-width: 500px;
  max-height: calc(100% - 50px);
  color: #383C45;
  display: block;
  font-size: 12px;
  left: 3px;
  padding: 10px;
  position: absolute;
  text-align: justify;
  top: 3px;
  z-index: 10;
  -webkit-transition: left 0.5s, -webkit-transform 2s;
  transition: left 0.5s, transform 2s;
  clear: both;
}