
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.body{
  background-color: #e6ee9c;
}

#mapContainer {
  height: 70%;
  margin-top: 20px;  
}
  
#destination { 
  font-size: 14px;
  padding: 8px; 
  text-align: justify;
  top: 30px; 
}

#direccion{
  margin-top: 40px;
}

.navbar {
  background-color: #255d00;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ff9e40;
}

.navbar .navbar-text {
  color: #ffffff;
}

.navbar .navbar-text a {
  color: #ff9e40;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ff9e40;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ff9e40;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ff9e40;
}

.navbar .navbar-link {
  color: #ffffff;
}

.navbar .navbar-link:hover {
  color: #ff9e40;
}

.fa-bars {
  color: #ffffff;
  font-size: 30px;
}

/* #logo {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
/*   display: block;
  top: 10px;
} */

a:link {
  color: #00ADA7;
  text-decoration: none;
}

a:visited {
  color: #00ADA7;
  text-decoration: none;
}

a:hover {
  color: #00ADA7;
  text-decoration: none;
}

a:active {
  color: #00ADA7;
  text-decoration: none;
}



