body{
  background-color: #e6ee9c;
}

.navbar {
  background-color: #255d00;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ff9e40;
}

.navbar .navbar-text {
  color: #ffffff;
}

.navbar .navbar-text a {
  color: #ff9e40;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ff9e40;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ff9e40;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ff9e40;
}

.navbar .navbar-link {
  color: #ffffff;
}

.navbar .navbar-link:hover {
  color: #ff9e40;
}

.fa-bars {
  color: #ffffff;
  font-size: 30px;
}

/* #logo {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
/*   display: block;
  top: 10px;
} */

a:link {
  color: #00ADA7;
  text-decoration: none;
}

a:visited {
  color: #00ADA7;
  text-decoration: none;
}

a:hover {
  color: #00ADA7;
  text-decoration: none;
}

a:active {
  color: #00ADA7;
  text-decoration: none;
}

#mision{
  margin-top: 30px;
  text-align: justify;
}

#vision{
  margin-top: 30px;
  text-align: justify;
}

.subtitulo{
  margin-top: 70px;
}

#imgyo{
  width: 300px;
  height: auto;
  border-radius: 10px;
}

#imgleslie{
  width: 350px;
  height: auto;
  border-radius: 10px;
}