
#headerMenu{
  display: none;
}

/* diseño navbar*/
.nav-link {
  color:#F6A800;
  padding: 10%;
}
a:hover {
  color: #3E3F41;
  text-decoration: underline;
}
.menunav{
  position: absolute;
  top:0;
  height: 100vh; 
  width: 60vw;  
  transition: 0.5s ease-out;
  z-index: 10;
  position: fixed;
}
.barMenu {
  background-color: #3E3F41;
}
.menuClosed{
  left: -90vw;
}

.menuOpen{
  left: 0;
}
.close_button{ 
  font-size: xx-large;
  color: black;
  position: absolute;
  right: 10px;                   
}
.contentMenu{
  padding: 10px;
  margin-top: 20px;
  text-align: left;
}
#side {
  background-color: #fafafa;
  z-index: 1;
}
.navbar-toggler {
  border: none;
}
/*diseño mapa*/
html {
  overflow:hidden;
}

#mapContainer {
  width: 70%;
  height: 70%;
  left: 0;
  top: 130px;
  position: absolute;
}
  
.ctrl-panel {
  background-color: #e4e6e9;
  border-right: solid #e4e6e9 1px;
  border-bottom: solid #e4e6e9 1px;
  max-width: 500px;
  max-height: calc(100% - 50px);
  color: #383C45;
  display: block;
  font-size: 12px;
  left: 289px;
  padding: 10px;
  position: absolute;
  text-align: justify;
  top: 131px;
  z-index: 10;
  -webkit-transition: left 0.5s, -webkit-transform 2s;
  transition: left 0.5s, transform 2s;
  clear: both;
}